apiVersion: v1
kind: Secret
metadata:
    name: aurora-secrets
type: Opaque
stringData:
    WEATHERKIT_KEY_ID: "${WEATHERKIT_KEY_ID}"
    WEATHERKIT_TEAM_ID: "${WEATHERKIT_TEAM_ID}"
    WEATHERKIT_SERVICE_ID: "${WEATHERKIT_SERVICE_ID}"
    weatherkit.p8: |
        ${WEATHERKIT_PRIVATE_KEY}
